* {
  padding: 0px;
  margin: 0px;
  color: white;
}

#navbar {
  background-color: black;
  height: 50px;
}

button {
  background-color: rgb(56, 135, 135);
}

#logo {
  color: rgb(56, 135, 135);
  font-size: 25px;
}

a {
  margin-right: 100px;
  text-decoration: none;
}
